* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(11, 21, 43);
}


@media (max-width: 785px) {
  .container {
    padding-top: 65px;
  }
}